@model ClienteModel
<h2>Registrar Cliente</h2>

@{ 
    var id = string.Empty;
    var nome = string.Empty;
    var data_cadastro = string.Empty;


    try
    {
        id = ViewBag.Registro.Id.ToString();
        nome = ViewBag.Registro.Nome.ToString();
        data_cadastro = ViewBag.Registro.Data_Cadastro.ToString();

    }
    catch
    {


    }
}

<form asp-controller="Home" asp-action="Registrar">
    <input asp-for="Id" class="form-control" value="@id" type="hidden" />
    <div class="row">
        <div class="col-lg-3">
            <label>Nome</label>
            <input asp-for="Nome" class="form-control" value="@nome" />
        </div>

        <div class="col-lg-3">
            <label>Data Cadastro</label>
            <input asp-for="Data_Cadastro" class="form-control" value="@data_cadastro" />
        </div>
                        
    </div>
    <br /><br />
    <button type="submit" class="btn btn-block btn-success" onclick="registrar()">Registrar Cliente</button>
</form>